.image {
    display: table;
    clear: both;
    text-align: center;
    margin: 1em auto;
}
.image-style-side {
    float: right;
    margin-left: var(--ck-image-style-spacing);
}
.image-style-side:not(.image_resized) {
    max-width: 50%;
}