body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}


.image {
    display: table;
    clear: both;
    text-align: center;
    margin: 1em auto;
}
.image-style-side {
    float: right;
    margin-left: var(--ck-image-style-spacing);
}
.image-style-side:not(.image_resized) {
    max-width: 50%;
}